apiVersion: v1
kind: Service
metadata:
  name: crypto-web-ui
  labels:
    app: crypto-web-ui
    commit: ${WERCKER_GIT_COMMIT}
spec:
  ports:
  - port: 8080
    targetPort: 8080
  selector:
    app: crypto-web-ui
    commit: ${WERCKER_GIT_COMMIT}
  type: LoadBalancer